.profile__info-title
{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 16px;
    font-family: Inter;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}